<!DOCTYPE html5>
<html>
    <head>
        <title>ChatBox</title>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
        <link rel="stylesheet" href="styles/index.css">
    </head>
    <body>
        <H3>ChatBox!</H3>
        <ul class="messages"></ul>
        <form action="post">
            <input type="text" class="input" autocomplete="off" autofocus />
            <button>Send</button>
        </form>

        <script src="messages.js"></script>
    </body>
</html>